<nav class="flex flex-row justify-between items-center mb-130">
  <a href="/">
    <img src="/assets/img/logo.svg" alt="logo">
  </a>

  {% if mainNavigation.links %}
    <ul class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:items-center md:flex-row">
      <li>
        <a class="text-white px-8 py-2 mt-2 font-inter font-semibold uppercase body tracking-body" href="">
          link 1
        </a>
      </li>
      <li>
        <a class="text-white px-8 py-2 mt-2 font-inter font-semibold uppercase body tracking-body" href="">
          link 1
        </a>
      </li>
      <li>
        <a class="text-white px-8 py-2 mt-2 font-inter font-semibold uppercase body tracking-body" href="">
          link 1
        </a>
      </li>
      {% include 'partials/components/_button' with {
        'text': '',
        'link': '#',
        'bgColorClass': 'bg-white',
        'textColorClass': 'text-blue-dark',
        'showIcon': true
      } only %}

    </ul>
  {% endif %}

</nav>