<div class="container-blocks relative">
  <div class="row-lg">
    <div class="flex flex-row justify-between items-center justify-center">
        <h2 class="font-serif text-grey-mid heading-sm w-full">Related posts</h2>
    </div>

    <div class="flex flex-col md:flex-row flex-wrap -mx-4 mt-mobile-md md:mt-desktop-md">
      {% for post in posts.collect() %}
        <div class="w-full md:w-1/2 px-4">
          {% include 'partials/components/_listing' with {
            'entry': post,
            'curves': curves,
            'showSummary': true,
          } only %}
        </div>
      {% endfor %}
    </div>

  </div>
</div>