{# Entry object #}

{# Background image #}
{# Title #}
{# Subheading #}
{# Clients -> _clients #}

<header class="container" style="background: url('/assets/img/bg-grid-large-3.png'), rgba(15, 23, 42, 1);background-size: contain; background-position: bottom; background-repeat: no-repeat">
  <div class="row">

    {% include 'partials/_navigation' %}

      <div class="flex items-end">
        <div class="max-w-[900px]">
          <h1 class="text-white font-extrabold font-inter-tight h1 tracking-body">
            {% if entry.altTitle %}
              {{ entry.altTitle}}
            {% else %}
              {{ entry.title}}
            {% endif %}
          </h1>
          {% if entry.subheading %}
            <h2 class="h2 text-white font-bold font-inter-tight tracking-body">
              {{entry.subheading}}
            </h2>
          {% endif %}
          {% if entry.clients %}
            <div class="flex flex-col mt-20">
              {% include 'partials/components/_label' with {
                'text': "trusted by"
              } only %}

              <div class="flex flex-row items-center -mx-4 mt-4">
                {% for item in entry.clients.all() %}
                  <div class="px-4">
                    {{ svg( item.logo.one())}}
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
</header>