<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'partials/_head' %}
</head>
<body>
  <main class="relative">

    {% block content %}
    {% endblock %}

    {% include 'partials/_footer' %}
    {% include 'partials/_scripts' %}

  </main>
</body>
</html>