@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ------ Add your CSS below this line (or @import your other CSS files). ------- */
.label {
  margin-left: 74px;
}
.label:before {
  content:" ";
  display: block;
  height: 2px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  margin-left: -74px;
}